.top-menu-btn,
.nav-btn {
  display: none;
}
.brand-slidere-item {
  max-width: 14%;
}

@media (max-width: 1220px) {
  .search-block {
    float: left !important;
    padding-left: 0;
    margin-top: 10px;
    
    &::before {
      display: none;
    }
  }
  .menu__item_pic_index {
    width: 32.5%;
  }
  .product-list__item {
    width: 20%;
    
    &:nth-child(6) {
      display: none;
    }
  }
  .index-news-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .news_block {
    text-align: center;
  }
  .footer__phone {
    padding-left: 15px;
  }
  .footer__right {
    padding-left: 15px;
    padding-right: 0;
    
    .col-xs-6 {
      padding-right: 0;
    }
  }
  .footer__menu__wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

//---------------------------
@media (max-width: 1022px) {
  .top-menu-btn {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 15px;
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 19px;
  }
  .top-menu-btn--close {
    background-image: url(../img/icon-menu-cross.svg);
    background-size: 24px 24px;
  }
  .top-menu {
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100vw;
    margin: 0;
    background-color: #000;
  }
  .header__addr {
    margin-left: 70px;
  }
  .menu__item_pic_index_name {
    font-size: 20px;
  }
  .product-list__item {
    width: 25%;
    
    &:nth-child(5) {
      display: none;
    }
  }
  .seo-block {
    margin-bottom: 0;
  }
  body {
    margin-bottom: 0;
  }
  .footer {
    height: auto;
    position: static;
  }
  .footer__right {
    float: left;
    width: 100%;
  }
  .footer__center {
    width: 78%;
    height: auto;
  }
  .footer .col-xs-2 {
    width: 20%;
  }
  .brand-slidere-item {
    max-width: 21%;
  }
  .nav__subitem__body {
    width: auto;
    
    .col-xs-7 {
      display: none;
    }
  }
  .nav-btn {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../img/icon-menu-ham-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 19px;
  }
  .nav-btn--close {
    background-image: url(../img/icon-menu-cross-black.svg);
    background-size: 24px 24px;
  }
  .nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .nav__item:before {
    display: none;
  }
  .search-block {
    margin-top: 0;
    float: right !important;
  }
  .nav__item {
    display: block;
    padding-left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .nav__item > a {
    font-weight: 700;
  }
  .nav__subitem {
    display: block !important;
    position: static;
    width: auto;
  }
  .nav__subitem__header {
    display: none;
  }
  .nav__subitem__body {
    margin-top: 5px;
    background: #fff;
    
    .col-xs-5 {
      width: 100%;
    }
  }
}

//---------------------
@media (max-width: 766px) {
  .header {
    padding-top: 20px;
    padding-bottom: 0;
    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      
      &::before,
      &::after {
        display: none;
      }
    }
  }
  .header__addr {
    margin-left: auto;
    margin-top: 10px;
    width: 40%;
  }
  .header__phone {
    margin-left: 0;
    margin-top: 10px;
    width: 50%;
  }
  h1 {
    font-size: 36px;
  }
  .header__logo {
    width: 100%;
    text-align: center;
  }
  .menu__item_pic_index {
    width: 100%;
  }
  .category-block__header .link-all {
    float: none;
    order: 2;
  }
  .category-block__title {
    order: 1;
  }
  .category-block__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .swiper-container {
    padding-bottom: 30px;
  }
  .footer__right {
    .col-xs-6 {
      width: 100%;
    }
    .col-xs-6:first-child {
      display: none;
    }
    .col-xs-6:nth-child(2) {
      .footer__block:nth-child(2) {
        display: none;
      }
    }
  }
  .footer {
    padding-bottom: 30px;
    
    .col-xs-2 {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .footer__menu,
  .footer__phone,
  .footer__addr,
  .footer__center,
  .footer__copy {
    width: 100%;
  }
  .footer__addr,
  .footer__phone {
    padding: 15px;
    text-align: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__menu__item {
    text-align: center;
  }
  .footer__menu__wrap {
    padding-top: 15px;
  }
  .footer__center {
    border: none;
    
    .row {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
//-------------------------
@media (max-width: 480px) {
  .product-list__item {
    width: 50%;
  }
  .brand-slidere-item {
    max-width: 47%;
  }
  .promo-block__slides__image {
    height: 100px;
    
    img {
      height: 100%;
      width: auto;
      max-width: none;
      margin-left: -340px;
    }
  }
  .promo-block {
    height: auto;
  }
}
